/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.warp {
    height: 500px;
}
.bg{
    position: absolute;
}
.bg img{
    width: 1520px;
    height: 500px;
}
.header{
    padding-top: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header ul{
    display: flex;
    flex-direction: row;
    padding-top: 7px;
    color: white;
    position: relative; 
}
.header li a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
    color: white;
}
.header li a:hover {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: blue;
    border-bottom: 5px solid yellow;
}
.MLB {
    display: flex;
    justify-content: space-between;
}
.body h1{
    position: relative;
    color:white;    
    padding-left:20px;
    padding-top:140px;
    font-size: 40px;
    font-weight: bold;
}
.body h2 {
    position: relative;
    color:white;
    padding-left:20px;
    padding-top:30px;
    font-size: 40px;
    font-weight: bold;  
}
.body p a{
    background:saddlebrown;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.body2 {
    position: relative;
    padding: 30px;
}
.love {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.love img {
    width: 200px;
    border-radius: 50%;
}
.love h1 {
    padding-left: 70px;
    padding-top: 90px;
    font-size: 30px;
    text-align: center;
    color:black;
    font-weight: bold;
}
.love ul {
    padding-top: 60px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: bold;
}
.time{
    display: flex;
    padding-top: 80px;
    justify-content: center;
}
.time h1 {
    padding-right: 15px;
    font-size: 50px;
    font-weight: bold;
    color: cadetblue;
}
.time p {
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}
.new{
    display: flex;
    align-items: center;
    width: 1000px;
    padding-left: 300px;
    padding-top: 50px;
    padding-bottom: 50px;

}
.new ul li {
    font-weight: bold;
    font-size: 20px;
    margin-bottom:20px;
}
.vip {
    display: flex;
    justify-content: center;
}
.vip h1 {
    color:cadetblue;
    font-weight: bold;
    font-size: 50px;
    padding-right: 15px;
}
.vip p {
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}
.NET {
    display: flex;
    justify-content: center;
    padding:30px;
}
.NET ul li h1 {
    width: 600px;
    height: 40px;
    padding-top: 20px;
    text-align: center;
    background: gray;
    color: black;
}
.NET ul li {
    margin-bottom: 20px;
}
.MIT {
    display: flex;
    justify-content: center;
    width: 1520px;
    height: 300px;
    background:#00cc99;

}
.KLG h1 {
    padding-top: 135px;
    font-weight: bold;
    font-size: 40px;
}
.KLG h2 {
    font-weight: bold;
    font-size: 40px;
}
.TPE {
    padding-top: 159px;
}
.TPE p a{
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
    background:salmon;    
    color: white;
}
.footer {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background:  #323228;
}
.ERT a img{
    padding-top: 10px;
}
.hi a img {
    padding-top: 10px;
    padding-right: 20px;
}